@charset "utf-8";
/* CSS Document */

body{
    background: dimgray;
}

div{
    width: 100%;
    text-align: center;
}
div a {
    background: hotpink;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li img {
    width: 100%;
}


