@charset "utf-8";
/* CSS Document */

body{
    background: dimgray;
}

div{
    width: 100%;
    text-align: center;
    margin: 20px;
}
div a {
    font-size: 20px;
    background: hotpink;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    border: 5px solid #000;
}

li img {
    width: 100%;
}


